<!DOCTYPE html>
<html>
<head>
    <script src="../checkCountry.js"></script>
    <script src="../../header.js"></script>
</head>
<body>
    <script src="menu2.js"></script>
    <div role="main" class="main">
        <section class="page-top">
            <div class="promo-container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Promotion</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="promo-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row featured-boxes login">
                        <div class="col-md-12">
                            <div class="featured-box featured-box-secundary default info-content">
                                <div class="box-content">
                                    <h4>Explore Our Promotions</h4>
                                    <div class="promotion-container" style="display: flex; justify-content: center; gap: 40px;">
                                        <img src="../../img/promotions/promo1.png" alt="Promotion 1" class="promotion-image" style="width: 40%; max-width: 500px;">
                                        <img src="../../img/promotions/promo2.png" alt="Promotion 2" class="promotion-image" style="width: 40%; max-width: 500px;">
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../footer.js"></script>
</body>
</html>
